<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mvc="http://java.sun.com/xml/ns/javaee" xmlns:beans=""
      xmlns="http://www.w3.org/1999/html">

<style>
    form{
        display: inline;
    }
</style>
<head th:replace="fragments/header :: header">

    <title>PROMPT_TEC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <br>
    <img th:src="prompt.GIF"/>
    <div class="jumbotron">

        <br>
        <form role="form" action="/home" th:object="${loginForm}" method="post" >
            <div class="form-group">

                <input type="text" th:field="*{log_id}" class="form-control" placeholder="아이디" th:class="${#fields.hasErrors('log_id')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('log_id')}"th:errors="*{log_id}">Incorrect date</p>


            </div><br>


            <div class="form-group">
                <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호" th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'" >
                <p th:if="${#fields.hasErrors('password')}"th:errors="*{password}">Incorrect date</p>
            </div><br/><br/><br/>

            <div class="col-8">

                <div th:if="${error}" class="mb-3 alert alert-danger">
                    <stong>아이디 또는 비밀번호가 틀렸습니다. </stong>
                </div>
            </div>
            <button type="submit"   class="btn btn-lg btn-primary" >로그인</button>
        </form>

        <a class="btn btn-lg btn-primary" href="/registers/new">회원 가입</a>
    </div>
    </br>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body> </html>


