<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>새로운 Works_for 등록</title>
    <style>
    </style>
</head>
<body>
    <h2 class="text-center">
        새로운 Works_for 등록하기
    </h2><br>
    <form action="/input/project" th:object="${inputProject}" method="post" >
        <div class = "form-group">
            <label>직원 아이디</label>
            <input class="form-control mr-sm-2" type="search" aria-label="Search" th:field="*{employee_id}" placeholder="직원 아이디를 입력하세요">
        </div><br>

        <div class = "form-group">
            <label>프로젝트 아이디</label>
            <input class="form-control mr-sm-2" type="search" aria-label="Search" th:field="*{project_id}" placeholder="프로젝트 아이디를 입력하세요">
        </div><br>

        <div class = "form-group">
            <label>직책</label>
            <input class="form-control mr-sm-2" type="search" aria-label="Search" th:field="*{e_job}" placeholder="직책을 입력하세요">
        </div><br>

        <div class = "form-group">
            <label>프로젝트 참여 날짜</label>
            <input class="form-control mr-sm-2" type="search" aria-label="Search" th:field="*{e_start_d}" placeholder="(yyyy-MM-dd) 프로젝트 참여 날짜를 입력하세요">
        </div><br>

        <div class = "form-group">
            <label>프로젝트 이탈 날짜</label>
            <input class="form-control mr-sm-2" type="search" aria-label="Search" th:field="*{e_end_d}" placeholder="(yyyy-MM-dd) 프로젝트 이탈 날짜를 입력하세요">
        </div><br>

        <button class="btn btn-primary" style="float: right;" type="submit">프로젝트 투입 등록</button><br>
    </form><br>
</body>
</html>